/target
node.list
*.DS_Store
.metadata
bin/
tmp/
*.class
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.idea
*.iml
.loadpath
.recommenders
*.log
# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

Chord/target/*
ObjectStore/target/*

Resources/Ansible_Scripts/command.ansible
Resources/Ansible_Scripts/main.retry
#src/main/resources/log4j.properties
#Resources/Ansible_Scripts/inventory
